*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.container{
    max-width:1300px;
    width: 100%;
    margin: 0 auto;
    
}
table {
    color: gold;
    background-color: dimgray;
}

.todo_title{
    font-size: 60px;
    font-weight: 600;
    color: rgb(19, 223, 5);
    text-align: center;
    margin-top: 70px;
}
.crud{
    transform: translateY(-250%);  
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin-bottom: 20px;
    
}
body {
    background-color: dimgray;
}
.crudActive{
    transform: translateY(0);
    transition: translate 3s ease
    
}
.form{
    // background-color: rgb(73, 232, 84);
    padding: 30px 40px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    height: 500px;
}
.form input, .submit_btn{
    height: 45px;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid rgb(255, 47, 47);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(8, 8, 8);
}
.form input:focus{
    outline: none;
}
.submit_btn:hover{
    cursor: pointer;
    background-color: cadetblue;
    color: #fff;
    transition: all 0.5s ease;
}
.delete_btn{
    border: 1px solid red;
    border-radius: 3px;
    background-color: royalblue;
}
.delete_btn:hover{
    background-color: red;
    border: red solid 3px;
    border-radius: 5px;
    background-color: #ffffff00;
    padding: 3px;

}
.edit_btn{
    border: rgb(0, 255, 0) solid 3px;
    border-radius: 5px;
    background-color: #ffffff00;
    padding: 3px;
}
.edit_btn:hover{
    background-color: green;
}
.delete_btn:hover{
    background-color: red;
    text-shadow: red;

}
.delete-btn-img{
    width: 30px;
    height: 35px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 4px solid #ddd;
}
th{
    font-size: 20px;
}


.myButton {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .myDiv {
    
    background-color: #f1c40f;
    opacity: 0;
    transform: translateY(0);
    transition: transform 2s ease, opacity 2s ease;
  }
  
  .visible {
    opacity: 1;
    transform: translateY(50px);
  }



.headerss{
    display: flex;

    align-items: center;
    justify-content: center;
}

.leftt{
    width: 200px;
    font-size: 40px;
}